<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692862107360-i129k8jaq3cr4kqu6vkrgurg65nj80ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692862107360-i129k8jaq3cr4kqu6vkrgurg65nj80ce</string>
	<key>API_KEY</key>
	<string>AIzaSyBGQ_odtRLtJWb7996px4GNYZsfgNW82w4</string>
	<key>GCM_SENDER_ID</key>
	<string>692862107360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MahmoudHassan.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat1-41acc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat1-41acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692862107360:ios:e9393400d08b59ddbf9a85</string>
</dict>
</plist>